.main-work-picture {
    background-image: url("../image/IMG-6ba28cf426944aad463662d8019eb8c8-V.jpg");
    background-color: #337ab7;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    width: 100%;
    height: 60vh;
    margin-top: 3rem;
    position: relative;
    z-index: -1;
}

.main-work-picture__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.043);
}

.main-work-picture__overlay h1 {
    width: 100%;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 42vh;
    font-size: 2rem;
    padding: 1rem;
    padding-right: 2.5rem;
    margin: 0;
    background-color: rgba(8, 41, 77,0.4);
    box-shadow: 2px 5px 15px 10px #061E38 ;
}

.main-work-text {
    width: 100%;
    font-size: 1rem;
}

.main-work-text p {
    text-align: center;
    color: #08294D;
    font-size: 1.5em;
    padding: 2em 6em;
}

.main-work-text span {
    font-weight: bold;
}

.main-work-part1,
.main-work-part2 {
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
}

.main-work-part2 {
    text-align: right;
}

/*.main-work-part2 .container__info,*/
/*.main-work-part1 .container__info {*/
/*    position: absolute;*/
/*    !*right: 3rem;*!*/
/*}*/

.container__img1 {
    width: 37%;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
}

.container__img2 {
    width: 65%;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
}

.main-work-part1 img,
.main-work-part2 img {
   width: 100%;
    vertical-align: top;
}

.container__info {
    text-align: right;
    padding: 1rem 2rem;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}


@media (min-width: 40rem) {
    .main-work-part2,
    .main-work-part1 {
        margin: 3rem 0rem;
        min-width: 1100px;
    }

    .container__img1 {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
    }

    .container__img2 {
        display: inline-block;
        vertical-align: middle;
        width: 37%;
    }

    .container__info {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: left;
    }

}

.container__info h2 {
    margin: 0.2rem 0;
    color: #061E38;
    font-size: 1.5rem;
}

.container__info p {
    margin: 0.3rem;
}

.container__info span {
    font-style: italic;
    font-weight: bolder;
}

.clear {
    clear: both;
}

