.main-work-picture {
    background-image: url("../image/IMG-6ba28cf426944aad463662d8019eb8c8-V.jpg");
    background-color: #337ab7;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    width: 100%;
    height: 60vh;
    margin-top: 3rem;
    position: relative;
    z-index: -1;
}

.main-work-picture__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.043);
}

.main-work-picture__overlay h1 {
    width: 100%;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 42vh;
    font-size: 2rem;
    padding: 1rem;
    padding-right: 2.5rem;
    margin: 0;
    background-color: rgb(8, 41, 77, 0.4);
    box-shadow: 2px 5px 15px 10px #061E38 ;
}

.main-work-text p {
    text-align: center;
    color: #08294D;
    font-size: 1.7rem;
    font-style: italic;
    padding: 3rem 8rem;
    letter-spacing: 1.5px;
    /*text-indent: 30px;*/
}

.main-work-text span {
    font-weight: bold;
}

.main-work-partner,
.main-work-approach {
    width: 100%;
    padding: 1rem 2rem;
}

.main-work-approach {
    text-align: right;
}

.main-work-approach .container__info {
    text-align: left;
}

.container__img1 {
    width: 37%;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
}

.container__img2 {
    width: 65%;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
}

.main-work-partner img,
.main-work-approach img {
   width: 100%;
    vertical-align: top;
}

.container__info {
    text-align: right;
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}


@media (min-width: 40rem) {
    .main-work-approach,
    .main-work-partner {
        margin: 3rem 0rem;
        min-width: 1100px;
    }

    .container__img1 {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
    }

    .container__img2 {
        display: inline-block;
        vertical-align: middle;
        width: 37%;
    }

    .container__info {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }

}

.container__info h2 {
    margin: 0.2rem;
    color: #061E38;
    font-size: 1.7rem;
}

.container__info p {
    margin: 0.3rem;
}

.container__info span {
    font-style: italic;
}

.clear {
    clear: both;
}

.main-work-bottom {
    width: 100%;
    height: 40vh;
    background-image: url("../image/paper_3_@2X.png");
    background-repeat: repeat;
    background-origin: border-box;
    background-position: center;
    position: relative;
    /*border: 3px solid #08294D;*/
}

/*.main-work-bottom__overlay {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    !*background-color: rgb(51, 122, 183, 0.4);*!*/
/*}*/

.main-work-bottom__overlay p {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.9rem;
    color: #061E38;
    padding: 5vh 5rem;

}