.main-home-picture {
    background-image: url("../project-building-site-anna-lukovych/image/architecture-1448221_1920.jpg");
    background-color: #337ab7;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    width: 100%;
    height: 92vh;
    margin-top: 3rem;
    position: relative;
    z-index: -1;
}

.main-home-picture__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 122, 183, 0.4);
}

.main-home-picture__overlay h1 {
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 36vh;
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
    background-color: rgb(8, 41, 77, 0.4);
    box-shadow: 2px 5px 15px 10px #061E38 ;
}

.main-home-text {
    width: 100%;
}

.main-home-text p {
    text-align: center;
    color: #08294D;
    font-size: 2rem;
    font-style: italic;
    padding: 3rem 4rem;
}

.main-home-text span {
    font-weight: bold;
}

@media (min-width: 40rem) {
    .container {
        text-align: center;
        width: 100%;
    }

    .main-home-picture {
        width: 100%;
    }

}

.main-home-rounds {
    height: 60vh;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;

}

.home-rounds__text {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.home-rounds__text h3 {
    color: #08294D;
    font-size: 1.7rem;
}

.main-home-rounds div {
    display: flex;
    justify-content: center;
}

.home-rounds {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-rounds p {
    color: #061E38;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem;
}

.home-round {
    display: block;
    margin: 1.5rem;
    width: 130px;
    height: 130px;
    background: rgba(51, 122, 183, 1);
    border-radius: 50%;
    box-shadow: 0px 10px 13px -7px #000000;
}

.home-round:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,0.25),
    inset 0 2px 0 rgba(255,255,255,0.6),
    inset 0 0 20px rgba(0,0,0,0.1);
}

.fas {
    font-size: 55px;
    margin: auto;
}

.main-home-projects {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.main-home-projects h2 {
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    color: #08294D;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem;
}

.main-home-projects h2:hover,
.main-home-projects h2:active {
    color: #337ab7;
}

.container-projects {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-home-project {
    margin: 0 1rem;
}

.imgBox {
    position: relative;
    overflow: hidden;
}

.imgBox a {
    display: block;
}

.imgBox a img {
    width: 17rem;
    height: 12.5rem;
    transition: all 0.5s;
}

.imgBox:hover a img {
    transform: scale(1.2);
}

.imgBox a::before {
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.4);
    width: 0;
    height: 100%;
    left: 50%;
    transition: all0 0.5s;
    z-index: 1;
}

.imgBox a:hover::before {
    width: 100%;
    left: 0;
}

.imgBox h3 {
    position: absolute;
    bottom: 5%;
    color: #ffffff;
    background: rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
    transition: all 0.5s;
    font-weight: bolder;
    margin: 6px 0;
}

.imgBox:hover h3 {
    transform: translateY(150%);
}
@media (min-width: 40rem) {
    /*.main-home-project {*/

}

.clear {
    clear: both;
}

