* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.3rem;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1;
    box-shadow: 0 5px 7px -5px #201a19;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__brand {
    text-decoration: none;
    height: 2.5rem;
    display: inline-block;
    vertical-align: middle;
    /*background-image: url("../project-building-site-anna-lukovych/image/kisspng-netherlands-vector-map-vector-of-the-map.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: right;*/
}

.main-header__brand img {
    height: 100%;
}

.main-nav {
    display: none;
    /*display: inline-block;*/
    /*text-align: right;*/
    /*width: calc(100%-74px);*/
    /*vertical-align: middle;*/
}

.main-nav__items {
    display: inline-block;
    margin: 0 0.8rem;
}

.main-nav__item {
    display: inline-block;
    margin: 0 0.5rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #08294D;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #337ab7;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }

    .main-nav {
        display: inline-block;
        width: calc(100%-44px);
        float: right;
        margin-top: 7px;
    }
}

.main-footer {
    background: #1C212B;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    color: #E8E8E8;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #337ab7;
}

.main-footer > div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.main-footer-nav {
    display: none;
    /*display: inline-block;*/
    /*text-align: left;*/
    /*vertical-align: middle;*/
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

@media (min-width: 40rem) {
    .main-footer__link {
        display: inline-block;
        margin: 0 1rem;
    }

    .main-footer-nav {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}