.main-about-text {
    width: 100%;
    margin-top: 3.3rem;
    padding: 1.5rem 5rem;
}

.main-about-text p {
    font-size: 1.2rem;
    text-indent: 1.5em;
    color: #061E38;
}

.main-about-team {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 66vh;
    margin: 3rem 0;
}

.main-about-team__img {
    position: absolute;
    right: 4rem;
    top: 0;
    /*width: 50%;*/
    z-index: -1;
}

.main-about-team__text {
    position: relative;
    width: 60%;
    left: 3.5rem;
    top: 5rem;
    padding: 1rem;
    background-image: url("../image/paper_3_@2X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    opacity: 0.8;
}


.main-about-team__text h2 {
    text-align: center;
    color: #08294D;
    font-size: 1.3rem;
    margin: 0.3rem;
}

.main-about-team__text p {
    text-indent: 1.5em;
    color: #08294D;
}

.main-certificates {
    width: 100%;
    margin: 3rem 0;
}

.container_elements {
    width: 100%;
}

.container_element1 {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;

}

.container_element1 h2 {
    color: #061E38;
    font-size: 2rem;
    margin: 0.6rem;
    text-transform: uppercase;
}

.container_element2 {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;

}

.container_element2 img {
    height: 23rem;
    margin: 1rem;
    border: 2px solid #08294D;
}