.main-objects {
    padding: 2rem 4rem;
    width: 100%;

}

article img {
    display: block;
    height: 21rem;
    width: 35rem;
    /*box-shadow: 5px 4px 7px 0px rgba(12,5,99,0.78)*/
}

article {
    display: flex;
    margin: 3rem 0;
    /*border-top: 3px solid #337ab7;*/

}

article div {
    margin: 1rem 2rem;
    display: inline-block;
    text-align: left;
    border-right: 3px solid #337ab7;
    padding-right: 1px;
}

article div h2 {
    margin: 0.2rem;
    font-size: 1.3rem;
    color: #08294D;
    letter-spacing: 0.15rem;
}